{% extends "application.html" %}
{% block title %}About{% endblock %}

{% block content %}
<header>
    <ul>
        <li class="totop"><a href="{% url 'ratingapp:top' %}">TOP</a></li>
        <li><a href="{% url 'ratingapp:about' %}">概要</a></li>
        <li><a href="{% url 'ratingapp:recently' %}">最近の評価</a></li>
    </ul>
</header>
<div class="mrg"></div>
<div class="div-about">
    <h3 class="about">概要</h3>
    <p>Twitterにアップされたイラストを項目別に６段階で評価して、集計データをレーダーチャート化するサイトです。
    諸項目は以下の6つです。<br>
        ・キャラクターデザイン<br>
        ・デッサン力<br>
        ・構図・構成<br>
        ・色彩・色の配置<br>
        ・演出・フォトジェニック<br>
        ・世界観・物語性<br>
    </p>
    <h3 class="about">使い方</h3>
    <p>①あらかじめTwitter上で<span class="line">ツイートのリンク</span>をコピーしてください。<br>
    ブラウザのアドレスバーからか、もしくはツイート本文右下にある上矢印アイコンから「ツイートのリンクをコピー」を選択することでコピーできます。<br>
    <span class="line">画像アドレス（pbs.twimg.comから始まるURL）は無効</span>です。<br>
    ②本サイトの検索ボックスにコピーしたリンクを貼り付けて、しばらく待つかOKボタンを選択してください。<br>
    評価したいツイートに2つ以上の画像メディアが含まれている場合は画像を１つに限定します。選択画面が表示されたら評価する画像を選択してOKボタンをクリックします。<br>
    ③評価は０～５の６段階で行います。<br>
    数値と評価は比例していますので、良いと思えば高い数値を入力してください。<br>
    なお初期値は5に設定されているため注意してください。<br>
    項目にカーソルを合わせるとその項目についての解説が見ることができます。<br>
    全項目に数値を入力したあとOKボタンを選択すればデータが送信されます。<br>
    </p>
</div>


{% endblock %}