{% load static %}

<!DOCTYPE html>
<html lang="ja">
<html>
  <head>
    <title>{% block title %}Files{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lightbox.css' %}">
    <!-- CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.js"></script> {% endcomment %}
    <script src="https://cdn.plot.ly/plotly-2.6.3.min.js"></script>
  </head>

  <body>
    {% block content %}{% endblock %}
    {% include 'js.html' %}
    {% include 'lightbox.html' %}
  </body>
</html>
