{% load static %}
<script>
// csrftoken処理
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
    beforeSend: function (xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

// plotly
const categories = ['キャラデザ','デッサン力','構図',
            '色彩', '演出', '物語性']
const layout = {
    font: {color: '#AAB8C2'},
    paper_bgcolor:'#14171A',
    plot_bgcolor:'#14171A',
    polar: {
        bgcolor: '#14171A',
        radialaxis: {
            visible: true,
            range: [0, 5]
        },
    showlegend: false,
    autosize: false,
    }
};
const config = {responsive: true}
let data_avg = [{
    type: 'scatterpolar',
    r: [0,0,0,0,0,0],
    theta: categories,
    fill: 'toself',
    name: 'みんなの評価'
}];
let data = [{
    type: 'scatterpolar',
    r: [0,0,0,0,0,0],
    theta: categories,
    fill: 'toself',
    name: 'みんなの評価'
}];
const avgchart = document.getElementById('averageChart');
const mainchart = document.getElementById('mainChart');
// 描画関数
function chart(avg) {
    data_avg[0].r = avg;
    data[0].r = avg;
    Plotly.newPlot(avgchart, data_avg, layout, config);
    Plotly.newPlot(mainchart, data, layout, config);
}

// ajax

// 画像選択以後
function f_bottom(img, url, author_id, name, username, avg) {
    $('#include').show();
    $('#fail').hide();
    let image = $('<p>', { html: `<a data-lightbox="select-img" href="${img}"><image src="${img}"></a>`});
    let userinfo = $('<p>', { html: `<a href="${url}">${name}(@${username})</a>` });
    $('#fig').empty();
    $('#fig').append(image, userinfo);
    chart(avg); // チャート描画
    let isnull = avg.some((val, idx, obj) => {
        console.log(`val=${val}, idx=${idx}, obj=${obj}`);
        return val == null;
    });
    // 平均値0の場合チャート非表示
    if (isnull) {
        let cmes = $('<h3>', { html: '評価数が基準以下です<br>Not enough posts!'});
        $('.cover').empty();
        $('.cover').show();
        $('.cover').append(cmes);
    } else { $('.cover').hide(); }
    $('[name="myRange"]').on('input', () => {
        let cd = $('#inputcd').val();
        let sa = $('#inputsa').val();
        let cmp = $('#inputcmp').val();
        let hue = $('#inputhue').val();
        let edit = $('#inputedit').val();
        let nar = $('#inputnar').val();
        if (data.length == 1) {
            data.push({
                type: 'scatterpolar',
                r: [cd,sa,cmp,hue,edit,nar],
                theta: categories,
                fill: 'toself',
                name: 'あなたの評価'
            });
        } else {
            data.pop();
            data.push({
                type: 'scatterpolar',
                r: [cd,sa,cmp,hue,edit,nar],
                theta: categories,
                fill: 'toself',
                name: 'あなたの評価'
            });            
        }
        Plotly.react(mainchart, data, layout, config);
    });
    $(function(){ // 確認モーダル表示
        $('.modal-open').on('click',function(){
            $('.js-modal-2').fadeIn();
            return false;
        });
        $('.js-modal-close-2').on('click',function(){
            $('.js-modal-2').fadeOut();
            return false;
        });
    });
    var jqxhr;
    $('#rating-submit').on('click', function(e) {
        e.preventDefault();
        console.log(jqxhr);
        if (jqxhr) { return; } // 重複回避
        jqxhr = $.ajax({ // 評価値をpost_to_ratingに渡す
            'url': '{% url "ratingapp:post" %}',
            'type': 'POST',
            'data': {
                'initial_token': $('#token').text(),
                'url': url,
                'your_img': img,
                'author_id': author_id,
                'name': name,
                'username': username,
                'cd': $('#inputcd').val(),
                'sa': $('#inputsa').val(),
                'cmp': $('#inputcmp').val(),
                'hue': $('#inputhue').val(),
                'edit': $('#inputedit').val(),
                'nar': $('#inputnar').val(),
            },
            'dataType': 'json'
        }).done(function(response) {
            var toString = Object.prototype.toString;
            console.log(url, img, response.m, toString.call(response.m));
            if (response.m) {
                // 連投を感知したらメッセージを挿入
                let message = $('<p>', { html: `<h3>${response.m}</h3>`});
                $('#fail').empty();
                $('#fail').show();
                $('#fail').append(message);
            } else {
                location.reload(true);
            }
        });
    });
}

// サクセスメッセージ挿入
if ("{{message}}" != "None") {
    let smes = $('<p>', { html: "<h3>{{message}}</h3>"});
    $('#success').empty();
    $('#success').show();
    $('#success').append(smes);
}

// URL入力
$('#tweet-link').focus();
$('#reset').click( function() { // リセットイベント
    $('#tweet-link').val("");
});
// 変更時自動で送信する
$('#tweet-link').change( function() {
    $('#tweet-submit').click();
});
$('#tweet-form').on('submit', function(e) {
    e.preventDefault();
    $.ajax({ // ツイートリンクをmodify_tweet_linkに渡す
        'url': '{% url "ratingapp:modify" %}',
        'type': 'POST',
        'data': {
            'url': $('#tweet-link').val(),
        },
        'dataType': 'json'
    })
    .done(function(response){
        $('#success').hide();
        $('#success').empty();
        const url = response.url;
        const author_id = response.author_id;
        const name = response.name;
        const username = response.username;
        const avg = response.avg;
        if (url != 'false') {
            const length = response.list_media_length;
            const img_html = response.img_html;
            $('.img-result').empty();
            if (length != 1) {
                // ツイート画像が複数の場合
                for (let i of img_html) {
                    // 結果表示用divタグに画像オプションを追加
                    $('.img-result').append(i);
                }
                $(function(){ // モーダルで表示
                    $('.js-modal').fadeIn();
                    $('.js-modal-close').on('click',function(){
                        $('.js-modal').fadeOut();
                        return false;
                    });
                });
                var jqxhr;     
                $('.image-select').on('click', function(e) {
                    e.preventDefault();
                    const img = $('input[name="select"]:checked').val();
                    if (jqxhr) { return; } // 重複回避
                    jqxhr = $.ajax({
                        'url': '{% url "ratingapp:selected" %}',
                        'type': 'POST',
                        'data': {'img': img},
                        'dataType': 'json'
                    })
                    .done(function(response){
                        const avg = response.avg;
                        f_bottom(img, url, author_id, name, username, avg);
                    });                       
                });
            } else { // ツイート画像が単数の場合
                const img = response.your_img;
                f_bottom(img, url, author_id, name, username, avg);               
            }
        }
    });
});

// 項目別解説
for (let i=1; i<=6; i++) {
    $(`.p${i}`).on('mouseover', () => {
        $(`.ex${i}`).css('display','inline-block');
    });
    $(`.p${i}`).on('mouseout', () => {
        $(`.ex${i}`).css('display','none');
    });
}

//rangeのラベル数値表示
let inputs = ['cd','sa','cmp','hue','edit','nar'];
$('[name="myRange"]').on('input', () => {
    for (const i of inputs) {
        //inputに入力されたvalueをくっつける
        $(`#output${i}`).text($(`#input${i}`).val());
    }
});

</script>